.container {
    position: relative;
    display: flex;
    align-items: center;
}

.container a {
    background: #ffffff12;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 18px;
    border-bottom: 1px solid #606060;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    backdrop-filter: blur(10px);
    margin-right: 12px;
}

.container a:last-child {
    margin: 0;
}

.container a:hover {
    color: #fff;
    border-color: #fff;
    background: #c6403f;
    transition: all .3s;
}

@media only screen and (max-width: 767px) {
    .container {
        justify-content: center;
    }
}