.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.container p {
    margin: 0 24px;
    display: flex;
    align-items: center;
}

.container span {
    opacity: .3;
}

.container strong {
    margin-left: 8px;
}

.container img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.container>:nth-child(1) strong.warning {
    color: orange;
}

.container>:nth-child(1) strong.danger {
    color: red;
}

.container>:nth-child(1) strong {
    color: green;
}

@media only screen and (max-width: 1023px) {
    .container {
        font-size: 12px;
    }

    .container p {
        margin: 0 8px;
    }
}