.container {
    width: min-content;
    min-width: 35%;
    height: 90px;
    padding: 24px 16px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212124ab;
    backdrop-filter: blur(10px);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 24px;
    text-shadow: 2px 3px black;
    border-radius: 8px;
    box-shadow: 0 0 0px 4px #0000007a;
    animation: container 1s ease;
}

@keyframes container {
    from {
        opacity: 0;
        bottom: 10%
    }

    to {
        opacity: 1;
        bottom: 50%;
    }
}

@media only screen and (max-width: 1023px) {
    .container {
        padding: 12px;
        font-size: 24px;
        letter-spacing: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 8px;
        font-size: 16px;
        letter-spacing: 8px;
    }
}