.container {
    width: 100%;
    padding: 16px 0;
    position: relative;
    border-top: 1px solid #0b0b0b;
    color: #444;
    background: #0000003b;
    backdrop-filter: blur(10px);
}

.container>:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 0 24px;
}

.container>:nth-child(1) div {
    width: 33.333%;
}

.tmdbContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tmdbContainer img {
    width: 120px;
}

.container>:nth-child(1)>:nth-child(2)>p,
.tmdbContainer p {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .tmdbContainer {
        width: 100%;
        align-items: center;
    }

    .container>:nth-child(1) div {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #171717;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .container>:nth-child(1) div:last-child {
        border: none;
        padding: 0;
        margin: 0;
    }

    .container>:nth-child(1) {
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }
}