.container {
  width: 100%;
  height: 15dvh;
  padding: 0 24px;
  position: relative;
  color: var(--secondary-color);
  background: #212124;
  border-top: 2px solid #0b0b0b;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  font-size: 14px;
}

.tmdbContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tmdbContainer img {
  width: 120px;
}

.tmdbContainer p {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}

.container > :first-child {
  display: flex;
  align-items: center;
}

.footerLogo,
.container > :first-child span {
  margin-right: 36px;
}
.lightModeButton:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .container {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 24px 12px;
  }

  .tmdbContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgb(53, 53, 53);
  }

  .container > :first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerLogo,
  .container > :first-child span {
    display: none;
  }
}
