.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.container h1 {
    width: 100%;
    margin-bottom: 12px;
    font-size: 60px;
    text-shadow: 2px 4px #220000;
    text-align: center;
}

.container p {
    font-size: 24px;
}

.homePage {
    align-items: flex-start;
}

.homePage h1 {
    width: 20ch;
    text-align: left;
}

.homePage p {
    font-size: 24px;
    width: 72ch;
}

@media only screen and (max-width: 1023px) {
    .container {
        width: 100%;
    }

    .container h1 {
        font-size: 32px;
    }

    .container p {
        font-size: 16px;
        width: 100%;
        text-align: justify;
    }
}
